@model IEnumerable<FEM.Application.DTOS.MatchViewModel>

@{
    ViewData["Title"] = "Home Page";
}


<style>
    .match {
        display: flex;
        background-color: aqua;
        height: 3rem;
        justify-content: space-around;
        align-items: center;
    }
</style>

<partial name="_MatchFilterPartial" />



<div id="matches-list">
    @foreach (var itm in Model)
    {
        <div class="match">
            <div>@itm.Team1.Name</div>
            <div>@itm.Date.ToString("yyyy-MM-dd HH:mm")</div>
            <div>@itm.Team2.Name</div>
            <div style="display:flex;" >
            <p>@itm.Status</p>  
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeStatusModal" data-bs-matchId="@itm.Id">
                    Change Status
                </button>
            </div>
            
        </div>
    }
</div>


<div class="modal fade" id="changeStatusModal" tabindex="-1" aria-labelledby="changeStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeStatusModalLabel">Change Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="changeStatusModalForm">
                    <select id="match-stat-change">
                        <option value="">--- SELECT STATUS ---</option>
                        @foreach(var status in Enum.GetValues<FEM.Domain.Enums.MatchStatus>())
                        {
                            <option value="@status">@status.ToString().ToLower()</option>
                        }
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input id="changeStatModalSubmmitBtn" form="changeStatusModalForm" type="submit" class="btn btn-primary">Save changes</input>
            </div>
        </div>
    </div>
</div>