@model IEnumerable<FEM.Application.DTOS.FootballClub>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="AddPlayer" asp-controller="FootballClubs" , asp-route-id="@item.Id">Add Player</a>
                    <span>|</span>
                    <a asp-action="ClubPlayers" asp-controller="FootballClubs" , asp-route-id="@item.Id">Players</a>
                </td>
            </tr>
        }
    </tbody>
</table>
