@model IEnumerable<FEM.Application.DTOS.MatchViewModel>

@{
    ViewData["Title"] = "Home Page";
}


<style>
    .match {
        display: flex;
        background-color: aqua;
        height: 3rem;
        justify-content: space-around;
        align-items: center;
    }

    .match-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<partial name="_MatchFilterPartial" />



<div id="matches-list">
    @foreach (var itm in Model)
    {
        <div class="match">
            <div>@itm.Team1.Name</div>
            <div class="match-info">
                <span>@itm.Date.ToString("HH:mm")</span>
                @if (itm.Status == FEM.Domain.Enums.MatchStatus.FINNISHED)
                {
                    <span>@itm.Team1Goals - @itm.Team2Goals</span>
                }
            </div>
            <div>@itm.Team2.Name</div>
            @if (itm.Status == FEM.Domain.Enums.MatchStatus.FINNISHED)
            {
                <a asp-action="Details" asp-controller="Matches" asp-route-id="@itm.Id">Details</a>
            }
        </div>
    }
</div>